@media screen and (max-width:480px){
    body{
        background-color: black;
    }
    #new{
        position: absolute;
        top: 40px;
        right: 40px;
        height: 07vh;
    }
    #user{
        position: absolute;
        left: 50px;
    }
    #comp{
        position: absolute;
        right: 30px;
    }
    .option{
        margin: auto;
        height: 200px;
        width: 80vw;
        column-gap: 20px;
    }

    .option img{
        height: 66px;
        width: 66px;
    }
    .head{
        width: 80vw;
        margin: auto;
    }
    .message{
        font-size:25px;
    }
}
